html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Helvetica, Arial;
}
#container{
  display: flex;
  flex-direction: column;
  height: 100%
}
#top-bar{
  flex: 0 0 7.5rem;
}
#middle-content{
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bottom-bar {
  flex: 0 0 5rem;
}

#match_list{
  overflow: hidden;
  flex: 1 1 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: #777777;
  border: 3px solid black;
  width:74rem;
  font-size: 30px;
  text-align: center;
  line-height: 1.4;
}

#scroll-container-a{
  position: relative;
}
#scroll-container-b{
  position: relative;
}

.match-header{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white;
  background: white;
}
.match-header .info{
  flex: 2 2 0px;
  border-bottom: 2px solid white;
  color: black;
}

.match-header .score{
  flex: 1 1 0px;
  border-bottom: 2px solid white;
  color: white;
}

.match-header .divider{
  flex: 0 0 2px;
  background: white;
}

.match-stat{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  color: white;
  margin-bottom: 0.3em;
}

.match-stat div{
  flex: 1 1 0px;
  min-width: 0;
}

/* .match-stat .rank{
  padding-right: 0.6rem;
  font-size: 17px;
} */

.match-stat .divider{
  flex: 0 0 2px;
  background: white;
}

.match-stat .team-name{
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;  
  text-overflow: ellipsis;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.led{
  align-items: center;
  justify-content: center;
  background: #000000;
  color: #ffc800;
  font-family: 'lcd_phoneregular', Arial;
}

#counter-container{
  width:100%; 
  height:80%; 
  max-width: 74rem; 
  border-bottom: 7px solid #ff9800; 
  background: white;
  color: black;
  overflow: hidden;
  font-size: 2.5rem;
  transition: border-bottom-color 0.7s ease-out;
}

.counter-content{
  position: relative;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: top; */
  overflow: hidden;
  /* transition: bottom 0.7s ease-out; */
}

.counter-content div{
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.counter-content .counter{
  flex: 0 1 100px;
  text-align: center;
  font-size: 3.3rem;
  line-height: 3.3rem;
}

.counter-content .alliance{
  color: white;
  margin-right: 0.8rem;
}

.counter-content .right-border{
  border-right: 3px solid black;
}

#dt{
  font-size: 55px;
  text-align: center;
}
.equal{
  display: inline-block;
  width: 0.63em;
  height: 1em;
  margin-right: 0.02em;
  margin-left: 0.02em;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

#error-message{
  position: absolute; 
  right: 2rem; 
  bottom: 15%; 
  top: 15%; 
  width: 20rem;
  font-size: 14px;
  padding: 0.4em;
  background:#ad1403;
  border-radius: 0.4em;
}
#error-message div{
  display: block;
  margin-bottom: 0.1em;
  font-size: 16px;
}

.light-ftc-blue{
  background: #0066B3;
}
.light-ftc-red{
  background: #ed1c25 !important; 
}
.dark-ftc-blue{
  background: #004980;
}
.dark-ftc-red{
  background: #a9161d;
}
.very-light-gray{
  background: #CCCCCC;
}

.bold{ 
  text-decoration: underline;
  font-weight: bold;
}

@media(max-width: 1300px){
  .logo{
    display: none;
  }
}