html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Helvetica, Arial;
}
#container{
  display: flex;
  flex-direction: column;
  height: 100%
}
#top-bar{
  flex: 0 0 7.5rem;
}
#middle-content{
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bottom-bar {
  flex: 0 0 9rem;
}

#match_list{
  overflow: hidden;
  flex: 1 1 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: #999999;
  border: 3px solid black;

  width:64rem;
  font-size: 31px;
  text-align: center;
  line-height: 1.4;
}

#scroll-container-a{
  position: relative;
}
#scroll-container-b{
  position: relative;
}

.match-header{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: white;
}
.match-header div{
  flex: 1 1 0px;

}
.match-header .divider{
  flex: 0 0 2px;
  background: black;

}

.match-stat{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  color: white;
  margin-bottom: 0.2em;
}
#key{
  position: relative;
  margin-bottom: 0;
  z-index: 2;
  background-color: #444444;
}
.match-stat .rank{
  flex: 1.2 1.2 0px;

}
.match-stat .team{
  flex: 2.8 2.8 0px;

}
.match-stat .score{
  flex: 2 2 0px;

}
.match-stat .divider{
  flex: 0 0 2px;
  background: white;
}

#counter-container{
  width:90%; 
  height:90%; 
  max-width: 67rem; 
  border-width: 5px;
  border-style: solid;
  border-color: #707070;
  background: white;
  display: flex;
  flex-direction: row;
 overflow: hidden;
}

#counter-container #left{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  color: black;

}

#counter-container #left span{
  flex: 1 1 auto;
  font-size: 35px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

#counter-container #counter{
  flex: 0 1 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: orange;
  font-size: 100px;
  font-family: 'lcd_phoneregular', Roboto, Helvetica, Arial;
}

#counter-container #alliance{
  flex: 0 1 300px;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-ftc-blue{
  background: #0066B3;
}
.light-ftc-red{
  background: #ed1c25;
}
.dark-ftc-blue{
  background: #004980;
}
.dark-ftc-red{
  background: #a9161d;
}
.very-light-gray{
  background: #CCCCCC;
}

.bold{ 
  text-decoration: underline;
  font-weight: bold;
}